/* Header Div */

*{
    overflow: clip;
}

body {
    padding: 0;
    margin : 0;
}

.main-grid-container {
    display: grid;
    grid-template-areas:
    'logo header'
    'sidebar mainArea';
    margin: 0;
    border: 0;
    padding: 0;
    gap: 0;
    width: 100vw;
    height: 100vh;
}

.main-grid-container > div {
    font-family: Aptos, sans-serif;
}

.logo {
    grid-area: logo;
    background-color: #46b1e1;
    color: white;
    font-size: 13pt;
    text-align-all: center;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 25vw;
}
.header {
    color: white;
    font-size: 5vh;
    text-align-all: left;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
    padding-left: 20px;
    grid-area: header;
    background-color: #215f9a;
    width: 75vw;
}
.sidebar {
    grid-area: sidebar;
    background-color: #156082;
    height: 95vh;
    width: 25vw;
}
.mainArea {
    grid-area: mainArea;
    background-color: #ffffff;
    width: 75vw;
}

.sidebarGrid {
    display: grid;
    background-color: #156082;
    grid-template-rows:
            10vh
            10vh
            10vh
            auto;
    grid-template-columns:
            auto;

    grid-row-gap: 5px;
}

.sidebarButton {
    border: none;
    width: auto;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 23px;
    transition-duration: 0.5s;
    text-align: right;
    color: white;
    background-color: #156082;
}

.sidebarButton:hover {
    border: none;
    width: auto;
    padding: 8px;
    text-decoration: none;
    display: block;
    font-size: 25px;
    transition-duration: 0.5s;
    background-color: #0f4e68;
}

.sidebarButtonInactive {
    border: none;
    width: auto;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 23px;
    transition-duration: 0.5s;
    text-align: right;
    color: gray;
    background-color: #156082;
}