/* Header Div */

*{
    overflow: clip;
}

body {
    padding: 0;
    margin : 0;
}

.main-grid-container {
    display: grid;
    grid-template-areas:
    'logo header'
    'sidebar mainArea';
    margin: 0;
    border: 0;
    padding: 0;
    gap: 0;
    width: 100vw;
    height: 100vh;
}

.main-grid-container > div {
    font-family: Aptos, sans-serif;
}

.logo {
    grid-area: logo;
    background-color: #46b1e1;
    color: white;
    font-size: 13pt;
    text-align-all: center;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 25vw;
}
.header {
    color: white;
    font-size: 5vh;
    text-align-all: left;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
    padding-left: 20px;
    grid-area: header;
    background-color: #215f9a;
    width: 75vw;
}
.sidebar {
    grid-area: sidebar;
    background-color: #156082;
    height: 95vh;
    width: 25vw;
}
.mainArea {
    grid-area: mainArea;
    background-color: #ffffff;
    width: 75vw;
    overflow: auto;
}

.sidebarGrid {
    display: grid;
    background-color: #156082;
    grid-template-rows:
            10vh
            10vh
            10vh
            10vh
            auto;
    grid-template-columns:
            auto;

    grid-row-gap: 5px;
}

.sidebarButton {
    border: none;
    width: auto;
    padding: 10px;
    display: block;
    font-size: 23px;
    transition-duration: 0.5s;
    text-align: right;
    color: white;
    background-color: #156082;
}

.sidebarButton:hover {
    border: none;
    width: auto;
    padding: 8px;
    display: block;
    font-size: 25px;
    transition-duration: 0.5s;
    background-color: #0f4e68;
}

.sidebarButton:active {
    border: none;
    width: auto;
    padding: 11px;
    display: block;
    font-size: 20px;
    transition-duration: 0.1s;
    background-color: #0f4e68;
}

.sidebarButtonInDisabled {
    border: none;
    width: auto;
    padding: 10px;
    display: block;
    font-size: 23px;
    transition-duration: 0.5s;
    text-align: right;
    font-style: italic;
    color: #696969;
    background-color: #156082;
}

.loginGrid {
    display: grid;
    background-color: white;
    grid-template-rows:
            auto
            10vh
            10vh
            10vh
            10vh
            10vh
            auto;
    grid-template-columns:
            auto;

    grid-row-gap: 5px;

    padding: 150px;
}

label {
    width: 100%;
    display: inline-block;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

input[type=password], select {
    width: 100%;
    padding: 6px 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    color: black;
    background-color: #ECECEC;
    font-size: 15pt;
    text-align: center;
}

.signInButton {
    text-align: center;
    font-size: 16pt;
    padding-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: white;
}

.signInButton:hover{
    transition-duration: 0.2s;
    background-color: dimgrey;
    color: white;
    text-align: center;
}

.signInButton:active{
    font-size: 14pt;
    margin-left: 90px;
    margin-right: 90px;
}

.keyContainer {
    display: block;
}

.keyDiv {
    background-color: #E8E8E8;
    margin: 10px;
    padding: 5px;

}

.keyDiv:hover {
    background-color: #E8E8E8;
    margin: 7px;
    padding: 5px;
}

.keyDiv:active {
    background-color: #c7c7c7;
    margin: 13px;
    padding: 5px;
}

.keyName{
    font-size: 18pt;
}

.keySample{
    font-size: 15pt;
    color: dimgrey;
}

.keyType{
    text-align: left;
    color: dimgrey;
}